<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <link rel="stylesheet" href="{{asset "css/app.css"}}" />
    <script src="{{asset "js/vendor/modernizr.js"}}"></script>
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    <div class="container">
      {{{body}}}
    </div>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
    <script src="{{asset "js/vendor/jquery.min.js"}}"></script>
    <script src="{{asset "js/foundation.min.js"}}"></script>
    <script src="{{asset "js/app.js"}}"></script>
  </body>
</html>